<%inherit file="base.htm" />

<%block name="content">
    <h1>Client Status Predictor</h1>
    <div class="form-content">
        <form method="post">
            <table>
            ${ form.as_p() }
            </table>
            <input class="main-btn" type="submit" value="Predict">
        </form>
    </div>
    %if request.method == 'POST':
        <div class="result">
            <h2>A client with these attributes is ${ percent }% likely to be ${ status }</h2>
        </div>
    %endif
</%block>