<%inherit file="base.htm" />

<%block name="content">
    <div class="row">
        <div class="card col-md-6">
            <a href="/bp/client/" class="prediction">
                <img src="${STATIC_URL}bp/media/client-small.png">
                <p>Client Prediction</p>
            </a>
        </div>
        <div class="card col-md-6">
            <a href="/bp/time/" class="prediction">
                <img src="${STATIC_URL}bp/media/money-small.png">
                <p>Days as Client Prediction</p>
            </a>
        </div>
    </div>
</%block>
