ul.errorlist {
    background-color: #ff7878;
    list-style: none;
    margin: 5px 0px;
    padding: 10px;
    color: #000;
    text-align: center;
    max-width: 300px;
    border-radius: 10px;
}

form {
    margin: 20px; 
}

#site_right {
    display: none; 
}