.main-btn {
    padding: 1rem;
    width: 100%;
    display: inherit;
    margin: 1rem 0rem;
    text-align:center;
}

h1 {
    text-align:center;
}
p {
    margin-bottom: 0px;
    margin-left: 1rem;
}