<%inherit file="app_base.htm" />

<%block name="title">${drugname} Details</%block>
<%block name="site_center">
    <div class="content">
        <div class="info-card">
            <span class="icon">
                <img src="${STATIC_URL}homepage/media/pill.png" alt="pill">
            </span>
            <h3>Drug: ${drugname}</h3>
            <h3>Opiod: ${isop}</h3>
        </div>
        <span class="top_docs">
            <table>
                <tr>
                    <th>Five Related Drugs</th>
                </tr>
                %for reldrug in reldrugs:
                    <tr>
                        <td><a href="/detail/drug/${reldrug}">${reldrug}</a></td>
                    </tr>
                %endfor
            </table>
        </span>
    </div>
</%block>

<%block name="site_right">
    <div class="top_docs">
        <table>
            <tr>
                <th>Top Ten Prescribers</th>
            </tr>
            %for doc in docs:
                <tr>
                    <td><a href="/detail/prescriber/${doc[1]}">${doc[0]}</a></td>
                </tr>
            %endfor
        </table>
    </div> 
</%block>
