<%inherit file="app_base.htm" />

<%block name="title">${docname} Details</%block>
<%block name="site_center">
    <div class="content">
        <div class="info-card">
            <span class="icon">
                <img src="${STATIC_URL}homepage/media/user.png" alt="user">
            </span>
            <h3>Name: ${docname}</h3>
            <h3>Gender: ${docgender}</h3>
            <h3>Credentials: ${doccred}</h3>
            <h3>State: ${docstate}</h3>
            <h3>Specialty: ${docspecialty}</h3>
            %if user.has_perm('account.change_user'):
                <a class="page-btn" href="/account/edit/${thisdoc}/">Edit Details</a>
            %endif
        </div>
        <div class="ratio">
            <h2>Opioid Prescription Ratio</h2>
            <p class="ratio_number">${ratio}%</p>
            <p>of drugs prescribed by this prescriber are opioids</p>
        </div>
        <div class="ratio ratio2">
            <h2>Average Opioid Prescription Ratio</h2>
            <p class="ratio_number">${avgratio}%</p>
            <p>of drugs prescribed by prescribers specializing in ${docspecialty} are opioids</p>
        </div>
    </div>
</%block>

<%block name="site_right">
        <div class="top_docs">
                <table>
                        <tr>
                            <th>Five Related Prescribers</th>
                        </tr>
                        %for user in relusers:
                            <tr>
                                <td><a href="/detail/prescriber/${user[1]}">${user[0]}</a></td>
                            </tr>
                        %endfor
                    </table>
            <table class="d-info">
                <tr>
                    <th>Prescribed Drug</th>
                    <th>Quantity</th>
                </tr>
                %for drug in drugs:
                    <tr>
                        <td><a href="/detail/drug/${drug[0]}">${drug[0]}</a></td>
                        <td class="drug_qty">${drug[1]}</td>
                    </tr>
                %endfor
            </table>
            <table class="a-info">
                <tr>
                    <th>Average</th>
                </tr>
                %for s in specavg:
                    <tr>
                        <td>${s[0]}</td>
                    </tr>
                %endfor
            </table>
        </div>
</%block>
