.content {
    width: 70vw;
    min-width: 550px;
    margin-left: 15vw;
}

#site_right {
    visibility: hidden;
}

h2 {
    text-align: center;
}

.title_table {
    margin: 20px;
    margin-bottom: 20px;

    h1, p {
        font-size: 24px;
        color: #000;
        text-align: left;
    }
}

.top_docs {
    width: 45%;
    min-width: 275px;
    margin: 20px;
    color: #000;

    tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

    th {
        font-size: 24px;
    }

    td {
        text-align: left;
        color: inherit;
        padding: 5px;
    }
    .drug_qty {
        text-align: right;
    }
}

.ratio {
    width: 45%;
    min-width: 275px;
    margin: 20px;
    display: inline-block;
    color: #000;
    background-color: #f2f2f2;
    text-align: center;
}

.ratio_number {
    font-size: 48px;
    margin-bottom: 0;
}