$main_width: 250px;
$main_blue: #3771a1;

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #777788;
}
.clearfix {
    clear: both;
}
input, select {
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
}

.alertContainer, #header_maintainence {
    top: 20px;
    position: absolute;
    width: 100%;
    text-align: center;
}
.alert {
    color: #fff;
    background-color: #f44336;
    display: none;
    opacity: 0.8;
    max-width: 50%;
    margin: 0 auto;
    z-index: 1;
}
.alert.danger {
    display: none;
}
.alert.info {
    background-color: #2196F3;
}
.alert.success {
    background-color: #4CAF50;
}
.alert.warning {
    background-color: #ff9800;
}
.alert:hover {
    opacity: 1;
    cursor: pointer;
}
.alert::after {
    content: "X";
    color: #fff;
    float: right;
    font-size: 15px;
    font-weight: bold;
    background-color: #000;
    padding: 0px 5px;
    border-radius: 7px;
}
header img {
    float:left; 
    max-width: 40px;
}
.navbar {
    padding: 0px;
    margin: 0px 10px;
}
main {
    margin: 0;
    padding: 0px;
    position: relative;
    min-height: calc(100vh - 40px)
}
footer {
    height: 40px;
    border-top: 1px solid #CCCCCC;
    text-align: right;
}
footer a {
    display: inline-block;
    color: #777788;
    margin: 15px 10% 0 0;
}
#site_left {
    background-color: #ccc;
    color: #fff;
    position: absolute;
    top: 0;
    width: $main_width;
    left: 0px;
    bottom: 0px;
}
#site_center {
    background-color: #fff;
    margin-left: $main_width;
    margin-right: $main_width;
    color: #000;
    padding: 10px 10px;
}
#site_right {
    background-color: #3771a1;
    color: #fff;
    position: absolute;
    top: 0;
    width: $main_width;
    right: 0px;
    bottom: 0px;
}
header#header {
    background-color: #000;
}

.product-container {
    margin-bottom: 20px;
}

.product-tile {
    display: inline-block;
    max-width: 300px;
    border: 2px solid #000;
    border-radius: 5px;
}

.product-image {
    max-width: 250px;
    text-align: center;
    padding: 10px;
}

.product-name {
    font-size: 26px;
    font-weight: bold;
    
}
.product-name, .product-price {
    text-align: center;
}

// Bootstrap Overrides
.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}
.navbar-toggle {
    display: none;
    background-color: #3771a1;
}
.dropdown-menu {
    left: inherit;
    right: 0px;
    padding: 0px;
    background-color: #3771a1;
}
.dropdown-item {
    color: #fff;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
}
.btn-secondary:not(:disabled):not(.disabled).active, 
.btn-secondary:not(:disabled):not(.disabled):active, 
.show>.btn-secondary.dropdown-toggle, .btn-secondary {
    color: #fff;
    background-color: #3771a1;
    border-color: #007bff;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}
#site_left .navbar-nav .nav-link {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
}
#site_left .navbar-nav .nav-link.active {
    background-color: #3771a1;
}
#site_left .navbar-nav {
    padding: 10px 20px; 
}

@media (max-width: 991px) {
    .navbar-toggle {
        display: block;
    }
    #site_right {
        width: 0px; 
    }
    #site_center {
        margin-right: 0px;
    }
    .dropdown-menu {
        right: inherit;
        left: 0px; 
    }
}