$main_width: 250px;
$BLUE: #233742;
$GRAY: #555;
$LIGHT_BLUE: #bbcde5;
$BORDER_COLOR: #7493a5;
$BOX_SHADOW: #ddd;
$TEXT_COLOR_MAIN:#000;
$TEXT_COLOR_SECONDARY: #FFF;
$MAIN_BG: #fcfcfc;
$FONT_MAIN: 'Arial';
$FONT_SECONDARY: 'Verdana';
$VALIDATION: #bb0000;

html, body {
    margin: 0;
    padding: 0;
    font-family: $FONT_MAIN;
    color: $TEXT_COLOR_MAIN;
    background-color: $MAIN_BG;
}
.clearfix {
    clear: both;
}
.search p {    display: inline; margin: 0; }
.hide {display: none;}
.prescribers, .drugs {
    background-color: $BLUE;
}
.drugs {
    margin-top: 20px;
}
table {
    width: 100%;
    text-align: center;
}
.prescribers th {
    border-top: 0px;
}
th:last-child {
    border-right: none;
}
th {
    background-color: $GRAY;
    color: $TEXT_COLOR_SECONDARY;
    font-weight: 100;
    padding: 5px 0px;
    border: 2px solid $BORDER_COLOR;
}
td {
    color: $TEXT_COLOR_SECONDARY;
    padding: 5px 0px;
}
table img {
    max-width: 32px;
}
.navbar {
    padding: 10px 0px;
    margin: 0px 10px;
}
main {
    margin: 0;
    padding: 0px;
    position: relative;
    min-height: calc(100vh);
}
#site_right {
    background-color: $LIGHT_BLUE;
    color: $TEXT_COLOR_MAIN;
    position: absolute;
    top: 0;
    width: $main_width;
    right: 0px;
    bottom: 0px;
    border-left: 2px solid $BORDER_COLOR;
}
#site_center {
    margin-right: $main_width;
    color: $TEXT_COLOR_MAIN;
}
header#header {
    background-color: $BLUE;
    border-bottom: 2px solid $BORDER_COLOR;
}
input, select {
    margin: 8px 0;
    display: inline-block;
    border: 1px solid $BORDER_COLOR;
    box-shadow: inset 0 1px 3px $BOX_SHADOW;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
}
.row {
    margin: 0px;
    margin-left: 1%;
    width: 98%;
}
a.prediction img {
    float: left;
    margin: 0 1rem 0 0;
}
a.prediction {
    color: $TEXT_COLOR_MAIN;
    padding: 0 1rem;
    text-decoration: none;
}
.prediction p {
    line-height: 50px;
    margin-bottom: 0;
}
.card {
    padding: 0.5rem 0px;
    width: 100%;
    margin-top: 20px;
}
.form-content {
    position: relative;
    width: 100%;
}
.form-content form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding: 2rem 0;
}
.main-btn {
    background: $GRAY;
    color: $TEXT_COLOR_SECONDARY;   
    margin: .5rem 1rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    text-decoration: none;
}
.page-btn:hover, .main-btn:hover {
    text-decoration: none;
    color: $TEXT_COLOR_SECONDARY;
    background: $BLUE;
    transition-duration: .4s;
}
.right {
    float: right;
}

main h1 {
    text-align: center;
    background: #1abc9c;
    color: #fff;
    box-shadow: 0px 3px 10px 0px $BLUE;
}

.form-style-5{
	max-width: 500px;
	padding: 10px 20px;
	background: $BLUE;
	margin: 10px auto;
	padding: 20px;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
	border: none;
}
.form-style-5 legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.form-style-5 label {
	display: block;
    margin-bottom: 8px;
    color: $TEXT_COLOR_SECONDARY;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:$TEXT_COLOR_MAIN;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
	background: $BORDER_COLOR;
}
.form-style-5 select{
	-webkit-appearance: menulist-button;
	height:42px;
}
.form-style-5 .number {
	background: $BLUE;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
	background: #109177;
}

.req, .form-style-5 input.req, .form-style-5 .req {
    border-left: 3px solid $VALIDATION;
}
.result {
    text-align: center;
    background-color: $VALIDATION;
    color: $TEXT_COLOR_SECONDARY;
    padding: 1.5rem;
}

// Bootstrap Overrides
.nav.navbar-nav li {
    margin: 0px 3px;
}
.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}
.dropdown2.collapse.navbar-collapse {
    max-width: 7.5rem;
}
.navbar-toggle {
    display: none;
    background-color: $BLUE;
}
.dropdown-menu {
    left: inherit;
    right: 0px;
    padding: 0px;
    background-color: $BLUE;
}
.dropdown-item {
    color: $TEXT_COLOR_SECONDARY;
}
.dropdown-item.active, .dropdown-item:active, .dropdown-item:hover {
    background-color: $GRAY;
    color: $TEXT_COLOR_SECONDARY;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: $TEXT_COLOR_SECONDARY;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-default .navbar-toggle {
    border-color: $GRAY;
}
.btn-secondary:not(:disabled):not(.disabled).active, 
.btn-secondary:not(:disabled):not(.disabled):active, 
.show>.btn-secondary.dropdown-toggle, .btn-secondary {
    color: $TEXT_COLOR_SECONDARY;
    background-color: $BLUE;
    border-color: $GRAY;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

@media (max-width: 991px) {
    .navbar-toggle {
        display: block;
    }
    #site_right {
        width: 0px; 
    }
    #site_center {
        margin-right: 0px;
    }
    .dropdown-menu {
        right: inherit;
        left: 0px; 
    }
}

@media (max-width: 768px) {
    .row {
        display: block;
    }
    .col-md-6 {
        max-width: 100%;
    }
}


//Eli Added These
.wrapper {
    max-width: 1000px;
    margin: auto;
}

.form-style-5 {
    max-width: none;
    margin: 0;
    width: 48.5%;
    margin-left: 1%;
    margin-bottom: 10px;
    float: left;
}

.result {
    background-color: $BLUE;
    border-radius: 8px;
    margin-left: 50.5%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 48.5%;

    p {
        font-size: 24px;
    }
    h2 {
        padding: 2rem;
    }
}

.tableauPlaceholder {
    margin: auto;
}


@media only screen and (max-width:700px) {
    .form-style-5, .result {
        float: none;
        width:96%;
        margin-left: 2%;
    }
  }