## this is the skeleton of all pages on in this app - it defines the basic html tags

<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
        <link rel="icon" href="${STATIC_URL}homepage/media/favicon.ico" type="image/x-icon" />
        <title>Intex &mdash; <%block name="title"></%block></title>

        ## add any site-wide scripts or CSS here; for example, jquery:
        <link rel="stylesheet" href="${STATIC_URL}homepage/media/bootstrap.min.css">
        <script src="${STATIC_URL}homepage/media/jquery-3.3.1.js"></script>
        <script src="${STATIC_URL}homepage/media/bootstrap.min.js"></script>

        ## render the static file links with the same name as this template
        <script src="/django_mako_plus/dmp-common.min.js"></script>
        ${ django_mako_plus.links(self) } 
    </head>
    <body>
        <header id="header">
            <nav class="navbar navbar-expand-lg">
                <a href="/"><img src="${ STATIC_URL }homepage/media/logo.png" alt="home" /></a>
                <%block name="menu">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                    </button>
                    <div class="dropdown collapse navbar-collapse" id="myNavbar">        
                        <ul class="nav navbar-nav">
                            <li><a class="dropdown-item nav-link ${'active' if request.dmp.page == 'index' else ''}" href="/">Home</a></li>
                            %if user.has_perm('account.delete_user'):
                                <li><a class="dropdown-item nav-link ${'active' if request.dmp.page == 'index' else ''}" href="/account/admin/">Admin</a></li>
                            %endif
                        </ul>
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Welcome${',' if user.username != '' else ''} ${user.username}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            % if user.is_authenticated: 
                                <a class="dropdown-item nav-link" href="/account/logout">Logout</a>
                                <a class="dropdown-item nav-link" href="/account/preferences">Account</a>
                            % else: 
                                <a class="dropdown-item nav-link" href="/account/login">Login</a>
                            % endif
                        </div>
                    </div> 
                    % if user.has_perm('account.view_analytics'): 
                    <div class="dropdown2 collapse navbar-collapse" id="">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownAnalytics" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Analytics
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownAnalytics">
                            <a class="dropdown-item nav-link" href="/analytics/index/">Unethical</a>
                            <a class="dropdown-item nav-link" href="/analytics/opiateprescribers/">Prescribers</a>
                            <a class="dropdown-item nav-link" href="/analytics/risk/">At-Risk</a>
                        </div>   
                    </div> 
                    %endif  

                </%block>
            </nav>
        </header>

        <main>
            <div id="site_center">
                <%block name="site_center">
                    
                </%block>
            </div>
            <div id="site_right">
                <%block name="site_right">
                    
                </%block>
            </div>
        </main>
    </body>
</html>
